:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
  height: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: relative;

  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
