header {
  width: 100%;
  color: white;
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;

  a {
    color: rgba(248, 250, 253, 0.56);
    text-decoration: none;
  }

  a.active {
    color: #fff;
  }

  a:visited {
    color: #fff;
  }
}
