<h1>Streamer Market Data</h1>
<table *ngIf="!isEmptyList; else emptyList">
  <tr>
    <th>ISIN</th>
    <th>Price</th>
    <th>Bid</th>
    <th>Ask</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let elem of data">
    <td>{{ elements[elem].isin }}</td>
    <td>{{ elements[elem].price }}</td>
    <td>{{ elements[elem].bid }}</td>
    <td>{{ elements[elem].ask }}</td>
    <td>
      <button (click)="subscribeToISIN(elements[elem].isin)">Start tracking</button>
      <button (click)="unsubscribeFromISIN(elements[elem].isin)">Stop tracking</button>
    </td>
  </tr>
</table>
<ng-template #emptyList>
  <p>No content to display. Please, <a routerLink="/management">subscribe</a> to one or more ISINs. </p>
</ng-template>
