<h1>Streamer Market Data</h1>
<table *ngIf="!isEmptyList; else emptyList">
  <tr>
    <th>ISIN</th>
    <th>Price</th>
    <th>Bid</th>
    <th>Ask</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let elem of keys">
    <td>{{ isinUpdates[elem].isin }}</td>
    <td>{{ isinUpdates[elem].price.toFixed(3) }}</td>
    <td>{{ isinUpdates[elem].bid.toFixed(3) }}</td>
    <td>{{ isinUpdates[elem].ask.toFixed(3) }}</td>
    <td>
      <button (click)="subscribeToISIN(isinUpdates[elem].isin)">Start tracking</button>
      <button (click)="unsubscribeFromISIN(isinUpdates[elem].isin)">Stop tracking</button>
    </td>
  </tr>
</table>
<ng-template #emptyList>
  <p>No content to display. Please, <a routerLink="/management">subscribe</a> to one or more ISINs. </p>
</ng-template>
<button *ngIf="localDataExists()" (click)="clearLocalData()">Clear locally stored data</button>
