:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .mobile-hidden {
   display: none;
  }
}

td, th {
  border: 2px solid var(--tr-color-non-dynamic-black);
  padding: 8px;
  text-align: center;

  button {
    margin: 4px;
  }
}

tr:nth-child(even) {
  background-color: var(--tr-color-background3);
}

p {
  text-align: center;
}

button {
  margin: 20px 0;
}
