table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid var(--tr-color-non-dynamic-black);
  padding: 8px;
  text-align: center;

  button {
    margin: 4px;
  }
}

tr:nth-child(even) {
  background-color: var(--tr-color-background3);
}

p {
  text-align: center;
}
